<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helldefender.enjoylife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DayTheme">
        <activity android:name=".modules.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modules.main.MainActivity">

        </activity>
        <activity android:name=".modules.user.login.LoginActivity" />
        <activity android:name=".modules.user.register.RegisterActivity" />
        <activity android:name=".modules.community.detail.DetailContentActivity" />
        <activity android:name=".modules.community.publish.PublishActivity" />
        <activity
            android:name=".modules.community.detail.CommentPostActivity"
            android:theme="@style/transparent" />
        <activity android:name=".modules.main.discovery.organization.OrganizationActivity" />
        <activity android:name=".modules.user.password.PasswordResetActivity" />
        <activity android:name=".modules.community.publish.MyPublishActivity" />
        <activity android:name=".modules.community.attend.MyAttendActivity" />
        <activity android:name=".modules.user.setting.AboutActivity" />
        <activity android:name=".modules.user.setting.SettingActivity" />
        <activity android:name=".modules.user.setting.FeedBackActivity" />
        <activity android:name=".modules.user.setting.PasswordModifyActivity" />

    </application>

</manifest>